<%- include('../header') -%>
	<div class="container">
		<h2>Bearbeite '<%= table %>'</h2>
		<p class="text-white bg-warning p-2">
			Achtung, hier werden direkt die Rohdaten bearbeitet! Bearbeite diese nur wenn du weisst, was du tust!
			<br>
			Fehler bei der Eingabe können Unvorhergesehenes bewirken!
		</p>
		<form method="POST">
			<div class="table-responsive">
				<table class="table table-striped table-bordered generic-table repeatable">
					<thead>
						<tr>
							<%-
								"<th>" + Object.keys(rows[0]).join("</th><th>") + "</th>";
							%>
							<th></th>
						</tr>
					</thead>
					<tbody class="insert">
						<%-
							"<tr class='repeat-el'>" + rows.map(row => {

								const values = Object.values(row);
								const keys = Object.keys(row);

								return "<td>" + values.map((value, index) => `
									<input
										class='form-control'
										type='text'
										value='${value}'
										name='columns[${keys[index]}][]'
									/>
								`).join("</td><td>") + "</td>" +
								"<td class='align-middle text-center text-danger delete'>×</td>"
							}).join("</tr><tr>") + "</tr>";
						%>
					</tbody>
					<tfoot>
						<tr class="before">
							<td colspan="<%= Object.keys(rows[0]).length + 1 %>">
								<div class="repeat">
									<a
										class="btn btn-primary"
										data-toggle="tooltip"
										data-placement="bottom"
										title="Weiteres Feld hinzufügen"
									>
										+
									</a>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<input class="btn btn-primary mt-1" type="submit" value="Speichern">
		</form>
	</div>
<%- include('../footer') -%>