<%- include('../header') -%>
	<div class="container">
		<h2>
			Visite #<%= visit.id %>
			<small>
				(<a href="/?visit_id=<%= visit.id%>">bearbeiten</a>)
				(<a class="text-danger" href="/delete/visit/<%= visit.id%>">löschen</a>)
			</small>
		</h2>
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<td>ID</td>
						<td><%= visit.id %></td>
					</tr>
					<tr>
						<td>Typ</td>
						<td><%= visit.visit_type_name %></td>
					</tr>
					<tr>
						<td>Datum</td>
						<td>
							<%= visit.date %>
						</td>
					</tr>
					<tr>
						<td>Wer</td>
						<td><%= visit.username %></td>
					</tr>
					<tr>
						<td>Begleitung</td>
						<td><%= visit.company_username %></td>
					</tr>
					<tr>
						<td>Vorbereitungszeit</td>
						<td><%= visit.preparation_duration %> Minuten</td>
					</tr>
					<tr>
						<td>Dauer</td>
						<td><%= visit.duration %> Minuten</td>
					</tr>
					<tr>
						<td>Besuchte Patienten</td>
						<td><%= visit.patient_count %></td>
					</tr>
					<tr>
						<td>Spital</td>
						<td><%= visit.hospital_name %></td>
					</tr>
					<tr>
						<td>Disziplin</td>
						<td><%= visit.discipline_name %></td>
					</tr>
					<tr>
						<td>Station</td>
						<td><%= visit.station_name %></td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<%-
					patients.map(({
						id,
						patient_number,
						date_of_birth,
						gender,
						case_number,
						case_type_abbreviation,
						case_type_name,
						interventions,
						comment
					}) => {
						return `
							<div id="patient-id-${id}" class="col-12 col-md-6">
								<h4>Patientendaten</h4>
								<div class="table-responsive">
									<table class="table table-striped table-bordered">
										<tr>
											<td>Falltyp</td>
											<td>${case_type_name} (${case_type_abbreviation})</td>
										</tr>
										<tr>
											<td>Geburtsdatum</td>
											<td>${date_of_birth}</td>
										</tr>
										<tr>
											<td>Geschlecht</td>
											<td>${gender === "male" ? "männlich" : "weiblich"}</td>
										</tr>
										<tr>
											<td>Fallnummer</td>
											<td>
												${case_number}
											</td>
										</tr>
										<tr>
											<td>Patientennummer</td>
											<td>${patient_number ? patient_number : "-"}</td>
										</tr>
										<tr>
											<td>Kommentar</td>
											<td>${comment ? comment : "-"}</td>
										</tr>
										<tr>
											<td>Aktionen</td>
											<td>
												<div class="pb-2">
													<a href="/add-patient/${visit.id}?patient_id=${id}">Patient bearbeiten</a>
												</div>
												<div>
													<a class="text-danger" href="/delete/patient/${id}">Patient löschen</a>
												</div>
											</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<h4>Interventionen</h4>
								${interventions.map(({
									drug,
									problem,
									suggestion,
									substance_name,
									substance_atc_code,
									problem_class,
									reason_class,
									type_class,
									result_class,
									advice,
									history_entry,
									comment
								}) => {
									return `
											<div class="table-responsive">
												<table class="table table-striped table-bordered">
													<tr>
														<td>Wirkstoff</td>
														<td>${substance_name ? substance_name + " (" + substance_atc_code + ")" : '-'}</td>
													</tr>
													<tr>
														<td>Betroffenes Medikament</td>
														<td>${drug}</td>
													</tr>
													<tr>
														<td>Problem</td>
														<td>${problem}</td>
													</tr>
													<tr>
														<td>Vorschlag</td>
														<td>${suggestion}</td>
													</tr>
													<tr>
														<td>Erfasstes Problem</td>
														<td>${problem_class}</td>
													</tr>
													<tr>
														<td>Grund der Intervention</td>
														<td>${reason_class}</td>
													</tr>
													<tr>
														<td>Intervention</td>
														<td>${type_class}</td>
													</tr>
													<tr>
														<td>Resultat der Intervention</td>
														<td>${result_class ? result_class : "-"}</td>
													</tr>
													<tr>
														<td>Verlaufseintrag</td>
														<td>${history_entry ? "Ja" : "Nein"}</td>
													</tr>
													<tr>
														<td>Konsil</td>
														<td>${advice ? "Ja" : "Nein"}</td>
													</tr>
													<tr>
														<td>Kommentar</td>
														<td>${comment ? comment : "-"}</td>
													</tr>
												</table>
											</div>
									`;
								}).join("")}
							</div>
						`;
					}).join("<hr>");
				%>
				<div class="col-12" style="margin-bottom: 1rem;">
					<a class="btn btn-primary" href="/add-patient/<%= visit.id %>">Patient hinzufügen</a>
				</div>
			</div>
		</div>
	</div>
<%- include('../footer') -%>